.App-header {
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}
.header-navbar {
  border-radius: unset;
}

.navbar-nav span[role=button] {
  padding: 15px;
  display: inline-block;
  line-height: 20px;
}

.nav li>a {
  font-size: 18px;
}

/*graphics pages*/
.graphic-control {
  margin-top: 55px;
}
.btn-wrapper {
  margin-bottom: 10px;
}

/*pdf view block*/
.pdf-view-title {
  text-align: center;
}
.pdf-view-desc {
  text-indent: 20px;
}

/*footer*/


