.App-header {
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}
.header-navbar {
  border-radius: unset;
}

.navbar-nav span[role=button] {
  padding: 15px;
  display: inline-block;
  line-height: 20px;
}

/*pdf view block*/
.pdf-view-title {
  text-align: center;
}
.pdf-view-desc {
  text-indent: 20px;
}

/*footer*/
.footer {
  background-color: #101010;
  height: 100px;
}